USE [master]
GO
/****** Object:  Database [QUANLYKHO]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE DATABASE [QUANLYKHO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYKHO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYKHO.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYKHO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYKHO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYKHO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYKHO]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KiemTraQuyen]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_KiemTraQuyen]
(
    @MaNguoiDung INT,
    @Module NVARCHAR(100),
    @LoaiQuyen NVARCHAR(50)
)
RETURNS BIT
AS
BEGIN
    DECLARE @CoQuyen BIT = 0;
    
    SELECT @CoQuyen = 1
    FROM [dbo].[VaiTroNguoiDung] vt
    INNER JOIN [dbo].[Quyen] q ON vt.[MaQuyen] = q.[MaQuyen]
    WHERE vt.[MaNguoiDung] = @MaNguoiDung
        AND vt.[HoatDong] = 1
        AND q.[Module] = @Module
        AND (q.[LoaiQuyen] = @LoaiQuyen OR q.[LoaiQuyen] = 'ADMIN');
    
    RETURN ISNULL(@CoQuyen, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LayChiPhiSanPhamTheoNgay]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LayChiPhiSanPhamTheoNgay]
(
    @MaSanPham INT,
    @Ngay DATE
)
RETURNS DECIMAL(18,4)
AS
BEGIN
    DECLARE @ChiPhi DECIMAL(18,4) = 0;
    
    SELECT TOP 1 @ChiPhi = [ChiPhiDonVi]
    FROM [dbo].[GiaoDichTonKho]
    WHERE [MaSanPham] = @MaSanPham 
        AND [LoaiGiaoDich] = N'Nhập kho'
        AND [NgayGiaoDich] <= @Ngay
        AND [ChiPhiDonVi] IS NOT NULL
    ORDER BY [NgayGiaoDich] DESC;
    
    RETURN ISNULL(@ChiPhi, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhSoLuongKhaDung]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhSoLuongKhaDung]
(
    @MaSanPham INT,
    @MaKho INT
)
RETURNS DECIMAL(18,4)
AS
BEGIN
    DECLARE @SoLuongKhaDung DECIMAL(18,4) = 0;
    
    SELECT @SoLuongKhaDung = ISNULL(SUM([SoLuongKhaDung]), 0)
    FROM [dbo].[TonKho]
    WHERE [MaSanPham] = @MaSanPham AND [MaKho] = @MaKho;
    
    RETURN @SoLuongKhaDung;
END;
GO
/****** Object:  Table [dbo].[DanhMucSanPham]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPham](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhMucCode] [nvarchar](20) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[MaDanhMucCha] [int] NULL,
	[HoatDong] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_DanhMucSanPham] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[MaNhaCungCapCode] [nvarchar](20) NOT NULL,
	[TenNhaCungCap] [nvarchar](200) NOT NULL,
	[NguoiLienHe] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[MaSoThue] [nvarchar](50) NULL,
	[TaiKhoanNganHang] [nvarchar](50) NULL,
	[TenNganHang] [nvarchar](100) NULL,
	[DieuKienThanhToan] [nvarchar](100) NULL,
	[HanMucTinDung] [decimal](18, 2) NULL,
	[HoatDong] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPhamCode] [nvarchar](50) NOT NULL,
	[TenSanPham] [nvarchar](200) NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
	[MaNhaCungCap] [int] NULL,
	[MoTa] [nvarchar](1000) NULL,
	[DonViTinh] [nvarchar](20) NOT NULL,
	[GiaVon] [decimal](18, 4) NULL,
	[GiaBan] [decimal](18, 4) NULL,
	[MucTonKhoToiThieu] [int] NULL,
	[MucTonKhoToiDa] [int] NULL,
	[DiemDatHangLai] [int] NULL,
	[ThoiGianGiaoHang] [int] NULL,
	[HoatDong] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[MaKho] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoCode] [nvarchar](20) NOT NULL,
	[TenKho] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[MaQuanLy] [int] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[HoatDong] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_KhoHang] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViTriTrongKho]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViTriTrongKho](
	[MaViTri] [int] IDENTITY(1,1) NOT NULL,
	[MaKho] [int] NOT NULL,
	[MaViTriCode] [nvarchar](20) NOT NULL,
	[TenViTri] [nvarchar](100) NOT NULL,
	[LoaiViTri] [nvarchar](50) NULL,
	[LoiDi] [nvarchar](10) NULL,
	[Hang] [nvarchar](10) NULL,
	[Tang] [nvarchar](10) NULL,
	[ViTri] [nvarchar](10) NULL,
	[DungLuong] [decimal](18, 4) NULL,
	[HoatDong] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_ViTriTrongKho] PRIMARY KEY CLUSTERED 
(
	[MaViTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[MaTonKho] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[MaKho] [int] NOT NULL,
	[MaViTri] [int] NULL,
	[SoLo] [nvarchar](50) NULL,
	[SoSerial] [nvarchar](100) NULL,
	[NgayHetHan] [date] NULL,
	[SoLuongTon] [decimal](18, 4) NOT NULL,
	[SoLuongDatTruoc] [decimal](18, 4) NOT NULL,
	[SoLuongKhaDung]  AS ([SoLuongTon]-[SoLuongDatTruoc]),
	[NgayKiemKeCuoi] [datetime] NULL,
	[NgaySuaCuoi] [datetime] NOT NULL,
	[NguoiSuaCuoi] [int] NULL,
 CONSTRAINT [PK_TonKho] PRIMARY KEY CLUSTERED 
(
	[MaTonKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TonKhoHienTai]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TonKhoHienTai] AS
SELECT 
    p.MaSanPhamCode,
    p.TenSanPham,
    c.TenDanhMuc,
    s.TenNhaCungCap,
    i.MaKho,
    w.TenKho,
    i.MaViTri,
    l.MaViTriCode,
    i.SoLo,
    i.SoSerial,
    i.NgayHetHan,
    i.SoLuongTon,
    i.SoLuongDatTruoc,
    i.SoLuongKhaDung,
    i.NgayKiemKeCuoi,
    i.NgaySuaCuoi
FROM [dbo].[TonKho] i
INNER JOIN [dbo].[SanPham] p ON i.MaSanPham = p.MaSanPham
INNER JOIN [dbo].[DanhMucSanPham] c ON p.MaDanhMuc = c.MaDanhMuc
LEFT JOIN [dbo].[NhaCungCap] s ON p.MaNhaCungCap = s.MaNhaCungCap
INNER JOIN [dbo].[KhoHang] w ON i.MaKho = w.MaKho
LEFT JOIN [dbo].[ViTriTrongKho] l ON i.MaViTri = l.MaViTri
WHERE i.SoLuongTon > 0;

-- View hiển thị sản phẩm tồn kho thấp
GO
/****** Object:  View [dbo].[vw_SanPhamTonKhoThap]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SanPhamTonKhoThap] AS
SELECT 
    p.MaSanPhamCode,
    p.TenSanPham,
    c.TenDanhMuc,
    s.TenNhaCungCap,
    i.MaKho,
    w.TenKho,
    i.SoLuongTon,
    p.MucTonKhoToiThieu,
    p.DiemDatHangLai,
    CASE 
        WHEN i.SoLuongTon <= p.MucTonKhoToiThieu THEN N'Nguy hiểm'
        WHEN i.SoLuongTon <= p.DiemDatHangLai THEN N'Thấp'
        ELSE N'Bình thường'
    END AS TrangThaiTonKho
FROM [dbo].[TonKho] i
INNER JOIN [dbo].[SanPham] p ON i.MaSanPham = p.MaSanPham
INNER JOIN [dbo].[DanhMucSanPham] c ON p.MaDanhMuc = c.MaDanhMuc
LEFT JOIN [dbo].[NhaCungCap] s ON p.MaNhaCungCap = s.MaNhaCungCap
INNER JOIN [dbo].[KhoHang] w ON i.MaKho = w.MaKho
WHERE i.SoLuongTon <= p.DiemDatHangLai;

-- View tổng hợp giao dịch tồn kho
GO
/****** Object:  Table [dbo].[GiaoDichTonKho]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichTonKho](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[NgayGiaoDich] [datetime] NOT NULL,
	[LoaiGiaoDich] [nvarchar](20) NOT NULL,
	[LoaiThamChieu] [nvarchar](20) NULL,
	[MaThamChieu] [int] NULL,
	[MaSanPham] [int] NOT NULL,
	[MaKho] [int] NOT NULL,
	[MaViTri] [int] NULL,
	[SoLuong] [decimal](18, 4) NOT NULL,
	[ChiPhiDonVi] [decimal](18, 4) NULL,
	[TongChiPhi]  AS ([SoLuong]*[ChiPhiDonVi]),
	[SoLo] [nvarchar](50) NULL,
	[SoSerial] [nvarchar](100) NULL,
	[NgayHetHan] [date] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NguoiTao] [int] NULL,
 CONSTRAINT [PK_GiaoDichTonKho] PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TongHopGiaoDichTonKho]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TongHopGiaoDichTonKho] AS
SELECT 
    p.MaSanPhamCode,
    p.TenSanPham,
    c.TenDanhMuc,
    w.TenKho,
    it.LoaiGiaoDich,
    COUNT(*) AS SoLuongGiaoDich,
    SUM(it.SoLuong) AS TongSoLuong,
    SUM(it.TongChiPhi) AS TongChiPhi,
    MIN(it.NgayGiaoDich) AS GiaoDichDauTien,
    MAX(it.NgayGiaoDich) AS GiaoDichCuoiCung
FROM [dbo].[GiaoDichTonKho] it
INNER JOIN [dbo].[SanPham] p ON it.MaSanPham = p.MaSanPham
INNER JOIN [dbo].[DanhMucSanPham] c ON p.MaDanhMuc = c.MaDanhMuc
INNER JOIN [dbo].[KhoHang] w ON it.MaKho = w.MaKho
GROUP BY p.MaSanPhamCode, p.TenSanPham, c.TenDanhMuc, w.TenKho, it.LoaiGiaoDich;

-- =============================================
-- CREATE STORED PROCEDURES
-- =============================================

-- Stored procedure lấy tồn kho sản phẩm theo kho
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaQuyenCode] [nvarchar](50) NOT NULL,
	[TenQuyen] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[LoaiQuyen] [nvarchar](50) NOT NULL,
	[Module] [nvarchar](100) NOT NULL,
	[HoatDong] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTroNguoiDung]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTroNguoiDung](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaQuyen] [int] NOT NULL,
	[HoatDong] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_VaiTroNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LayDanhSachQuyen]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LayDanhSachQuyen]
(
    @MaNguoiDung INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        q.[MaQuyenCode],
        q.[TenQuyen],
        q.[LoaiQuyen],
        q.[Module],
        q.[MoTa]
    FROM [dbo].[VaiTroNguoiDung] vt
    INNER JOIN [dbo].[Quyen] q ON vt.[MaQuyen] = q.[MaQuyen]
    WHERE vt.[MaNguoiDung] = @MaNguoiDung
        AND vt.[HoatDong] = 1
        AND q.[HoatDong] = 1
);

-- =============================================
-- CREATE TRIGGERS
-- =============================================

-- Trigger tự động cập nhật tồn kho khi thêm chi tiết phiếu nhập kho
GO
/****** Object:  Table [dbo].[ChiTietDonDatHang]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDatHang](
	[MaChiTietDonDatHang] [int] IDENTITY(1,1) NOT NULL,
	[MaDonDatHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [decimal](18, 4) NOT NULL,
	[DonGia] [decimal](18, 4) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
	[SoLuongDaNhan] [decimal](18, 4) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_ChiTietDonDatHang] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDonDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangBan]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangBan](
	[MaChiTietDonHangBan] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHangBan] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [decimal](18, 4) NOT NULL,
	[DonGia] [decimal](18, 4) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
	[SoLuongDaGiao] [decimal](18, 4) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_ChiTietDonHangBan] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDonHangBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhapKho]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhapKho](
	[MaChiTietPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[MaViTri] [int] NULL,
	[SoLuong] [decimal](18, 4) NOT NULL,
	[DonGia] [decimal](18, 4) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
	[SoLo] [nvarchar](50) NULL,
	[SoSerial] [nvarchar](100) NULL,
	[NgayHetHan] [date] NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_ChiTietPhieuNhapKho] PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuXuatKho]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuatKho](
	[MaChiTietPhieuXuat] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuXuat] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[MaViTri] [int] NULL,
	[SoLuong] [decimal](18, 4) NOT NULL,
	[DonGia] [decimal](18, 4) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
	[SoLo] [nvarchar](50) NULL,
	[SoSerial] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_ChiTietPhieuXuatKho] PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDonDatHang] [int] IDENTITY(1,1) NOT NULL,
	[SoDonDatHang] [nvarchar](50) NOT NULL,
	[MaNhaCungCap] [int] NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[NgayGiaoDuKien] [datetime] NULL,
	[NgayGiaoThucTe] [datetime] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[TongTien] [decimal](18, 4) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_DonDatHang] PRIMARY KEY CLUSTERED 
(
	[MaDonDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangBan]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangBan](
	[MaDonHangBan] [int] IDENTITY(1,1) NOT NULL,
	[SoDonHangBan] [nvarchar](50) NOT NULL,
	[MaKhachHang] [int] NULL,
	[NgayDat] [datetime] NOT NULL,
	[NgayYeuCau] [datetime] NULL,
	[NgayGiao] [datetime] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[TongTien] [decimal](18, 4) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_DonHangBan] PRIMARY KEY CLUSTERED 
(
	[MaDonHangBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHangCode] [nvarchar](20) NOT NULL,
	[TenKhachHang] [nvarchar](200) NOT NULL,
	[NguoiLienHe] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[MaSoThue] [nvarchar](50) NULL,
	[HanMucTinDung] [decimal](18, 2) NULL,
	[DieuKienThanhToan] [nvarchar](100) NULL,
	[HoatDong] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDangNhap]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDangNhap](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[ThoiGianDangNhap] [datetime] NOT NULL,
	[ThoiGianDangXuat] [datetime] NULL,
	[DiaChiIP] [nvarchar](45) NULL,
	[ThietBi] [nvarchar](200) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[LyDo] [nvarchar](500) NULL,
	[SessionID] [nvarchar](100) NULL,
 CONSTRAINT [PK_LichSuDangNhap] PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuHoatDong]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuHoatDong](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[HanhDong] [nvarchar](100) NOT NULL,
	[Module] [nvarchar](100) NOT NULL,
	[ChiTiet] [nvarchar](500) NULL,
	[DuLieuCu] [nvarchar](max) NULL,
	[DuLieuMoi] [nvarchar](max) NULL,
	[DiaChiIP] [nvarchar](45) NULL,
	[SessionID] [nvarchar](100) NULL,
 CONSTRAINT [PK_LichSuHoatDong] PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungHeThong]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungHeThong](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[HoatDong] [bit] NOT NULL,
	[NgayDangNhapCuoi] [datetime] NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_NguoiDungHeThong] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienLamViec]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienLamViec](
	[MaPhien] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[SessionID] [nvarchar](100) NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[DiaChiIP] [nvarchar](45) NULL,
	[ThietBi] [nvarchar](200) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[LastActivity] [datetime] NOT NULL,
 CONSTRAINT [PK_PhienLamViec] PRIMARY KEY CLUSTERED 
(
	[MaPhien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapKho]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapKho](
	[MaPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[SoPhieuNhap] [nvarchar](50) NOT NULL,
	[MaDonDatHang] [int] NULL,
	[MaNhaCungCap] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[MaKho] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[TongTien] [decimal](18, 4) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_PhieuNhapKho] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuatKho]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuatKho](
	[MaPhieuXuat] [int] IDENTITY(1,1) NOT NULL,
	[SoPhieuXuat] [nvarchar](50) NOT NULL,
	[MaDonHangBan] [int] NULL,
	[MaKhachHang] [int] NULL,
	[NgayXuat] [datetime] NOT NULL,
	[MaKho] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[TongTien] [decimal](18, 4) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDungTao] [int] NOT NULL,
	[NgaySua] [datetime] NULL,
	[MaNguoiDungSua] [int] NULL,
 CONSTRAINT [PK_PhieuXuatKho] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonDatHang] ON 

INSERT [dbo].[ChiTietDonDatHang] ([MaChiTietDonDatHang], [MaDonDatHang], [MaSanPham], [SoLuong], [DonGia], [SoLuongDaNhan], [GhiChu]) VALUES (1, 1, 1, CAST(1.0000 AS Decimal(18, 4)), CAST(25000000.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'Laptop Dell Inspiron')
INSERT [dbo].[ChiTietDonDatHang] ([MaChiTietDonDatHang], [MaDonDatHang], [MaSanPham], [SoLuong], [DonGia], [SoLuongDaNhan], [GhiChu]) VALUES (2, 2, 3, CAST(10.0000 AS Decimal(18, 4)), CAST(150000.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'Áo thun nam')
INSERT [dbo].[ChiTietDonDatHang] ([MaChiTietDonDatHang], [MaDonDatHang], [MaSanPham], [SoLuong], [DonGia], [SoLuongDaNhan], [GhiChu]) VALUES (3, 2, 7, CAST(5.0000 AS Decimal(18, 4)), CAST(400000.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'Quần jean nam')
SET IDENTITY_INSERT [dbo].[ChiTietDonDatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHangBan] ON 

INSERT [dbo].[ChiTietDonHangBan] ([MaChiTietDonHangBan], [MaDonHangBan], [MaSanPham], [SoLuong], [DonGia], [SoLuongDaGiao], [GhiChu]) VALUES (1, 1, 1, CAST(1.0000 AS Decimal(18, 4)), CAST(30000000.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'Laptop Dell Inspiron')
INSERT [dbo].[ChiTietDonHangBan] ([MaChiTietDonHangBan], [MaDonHangBan], [MaSanPham], [SoLuong], [DonGia], [SoLuongDaGiao], [GhiChu]) VALUES (2, 2, 3, CAST(3.0000 AS Decimal(18, 4)), CAST(250000.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'Áo thun nam')
INSERT [dbo].[ChiTietDonHangBan] ([MaChiTietDonHangBan], [MaDonHangBan], [MaSanPham], [SoLuong], [DonGia], [SoLuongDaGiao], [GhiChu]) VALUES (3, 2, 7, CAST(1.0000 AS Decimal(18, 4)), CAST(600000.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'Quần jean nam')
SET IDENTITY_INSERT [dbo].[ChiTietDonHangBan] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhapKho] ON 

INSERT [dbo].[ChiTietPhieuNhapKho] ([MaChiTietPhieuNhap], [MaPhieuNhap], [MaSanPham], [MaViTri], [SoLuong], [DonGia], [SoLo], [SoSerial], [NgayHetHan], [GhiChu]) VALUES (1, 1, 1, 1, CAST(1.0000 AS Decimal(18, 4)), CAST(25000000.0000 AS Decimal(18, 4)), N'LOT001', NULL, NULL, N'Laptop Dell Inspiron')
INSERT [dbo].[ChiTietPhieuNhapKho] ([MaChiTietPhieuNhap], [MaPhieuNhap], [MaSanPham], [MaViTri], [SoLuong], [DonGia], [SoLo], [SoSerial], [NgayHetHan], [GhiChu]) VALUES (2, 2, 3, 2, CAST(10.0000 AS Decimal(18, 4)), CAST(150000.0000 AS Decimal(18, 4)), N'LOT002', NULL, NULL, N'Áo thun nam')
INSERT [dbo].[ChiTietPhieuNhapKho] ([MaChiTietPhieuNhap], [MaPhieuNhap], [MaSanPham], [MaViTri], [SoLuong], [DonGia], [SoLo], [SoSerial], [NgayHetHan], [GhiChu]) VALUES (3, 2, 7, 2, CAST(5.0000 AS Decimal(18, 4)), CAST(400000.0000 AS Decimal(18, 4)), N'LOT003', NULL, NULL, N'Quần jean nam')
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuXuatKho] ON 

INSERT [dbo].[ChiTietPhieuXuatKho] ([MaChiTietPhieuXuat], [MaPhieuXuat], [MaSanPham], [MaViTri], [SoLuong], [DonGia], [SoLo], [SoSerial], [GhiChu]) VALUES (1, 1, 1, 1, CAST(1.0000 AS Decimal(18, 4)), CAST(30000000.0000 AS Decimal(18, 4)), NULL, NULL, N'Laptop Dell Inspiron')
INSERT [dbo].[ChiTietPhieuXuatKho] ([MaChiTietPhieuXuat], [MaPhieuXuat], [MaSanPham], [MaViTri], [SoLuong], [DonGia], [SoLo], [SoSerial], [GhiChu]) VALUES (2, 2, 3, 2, CAST(3.0000 AS Decimal(18, 4)), CAST(250000.0000 AS Decimal(18, 4)), NULL, NULL, N'Áo thun nam')
INSERT [dbo].[ChiTietPhieuXuatKho] ([MaChiTietPhieuXuat], [MaPhieuXuat], [MaSanPham], [MaViTri], [SoLuong], [DonGia], [SoLo], [SoSerial], [GhiChu]) VALUES (3, 2, 7, 2, CAST(1.0000 AS Decimal(18, 4)), CAST(600000.0000 AS Decimal(18, 4)), NULL, NULL, N'Quần jean nam')
SET IDENTITY_INSERT [dbo].[ChiTietPhieuXuatKho] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucSanPham] ON 

INSERT [dbo].[DanhMucSanPham] ([MaDanhMuc], [MaDanhMucCode], [TenDanhMuc], [MoTa], [MaDanhMucCha], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'DM001', N'Điện tử', N'Thiết bị và linh kiện điện tử', NULL, 1, CAST(N'2025-09-04T07:56:49.920' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[DanhMucSanPham] ([MaDanhMuc], [MaDanhMucCode], [TenDanhMuc], [MoTa], [MaDanhMucCha], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'DM002', N'Quần áo', N'Trang phục và phụ kiện', NULL, 1, CAST(N'2025-09-04T07:56:49.920' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[DanhMucSanPham] ([MaDanhMuc], [MaDanhMucCode], [TenDanhMuc], [MoTa], [MaDanhMucCha], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'DM003', N'Sách', N'Sách và ấn phẩm', NULL, 1, CAST(N'2025-09-04T07:56:49.920' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DanhMucSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([MaDonDatHang], [SoDonDatHang], [MaNhaCungCap], [NgayDat], [NgayGiaoDuKien], [NgayGiaoThucTe], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'DDH001', 1, CAST(N'2024-01-15T00:00:00.000' AS DateTime), CAST(N'2024-01-25T00:00:00.000' AS DateTime), NULL, N'Đã duyệt', CAST(25000000.0000 AS Decimal(18, 4)), N'Đơn hàng laptop cho phòng IT', CAST(N'2025-09-04T07:56:49.950' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[DonDatHang] ([MaDonDatHang], [SoDonDatHang], [MaNhaCungCap], [NgayDat], [NgayGiaoDuKien], [NgayGiaoThucTe], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'DDH002', 2, CAST(N'2024-01-16T00:00:00.000' AS DateTime), CAST(N'2024-01-26T00:00:00.000' AS DateTime), NULL, N'Đã gửi', CAST(1500000.0000 AS Decimal(18, 4)), N'Đơn hàng quần áo cho nhân viên', CAST(N'2025-09-04T07:56:49.950' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[DonDatHang] ([MaDonDatHang], [SoDonDatHang], [MaNhaCungCap], [NgayDat], [NgayGiaoDuKien], [NgayGiaoThucTe], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'DDH003', 3, CAST(N'2024-01-17T00:00:00.000' AS DateTime), CAST(N'2024-01-27T00:00:00.000' AS DateTime), NULL, N'Đã duyệt', CAST(500000.0000 AS Decimal(18, 4)), N'Đơn hàng sách cho thư viện', CAST(N'2025-09-04T07:56:49.950' AS DateTime), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangBan] ON 

INSERT [dbo].[DonHangBan] ([MaDonHangBan], [SoDonHangBan], [MaKhachHang], [NgayDat], [NgayYeuCau], [NgayGiao], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'DHB001', 1, CAST(N'2024-01-20T00:00:00.000' AS DateTime), CAST(N'2024-01-25T00:00:00.000' AS DateTime), NULL, N'Đã xác nhận', CAST(30000000.0000 AS Decimal(18, 4)), N'Đơn hàng laptop cho công ty', CAST(N'2025-09-04T07:56:49.957' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[DonHangBan] ([MaDonHangBan], [SoDonHangBan], [MaKhachHang], [NgayDat], [NgayYeuCau], [NgayGiao], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'DHB002', 2, CAST(N'2024-01-21T00:00:00.000' AS DateTime), CAST(N'2024-01-26T00:00:00.000' AS DateTime), NULL, N'Đã giao', CAST(800000.0000 AS Decimal(18, 4)), N'Đơn hàng quần áo cho cửa hàng', CAST(N'2025-09-04T07:56:49.957' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[DonHangBan] ([MaDonHangBan], [SoDonHangBan], [MaKhachHang], [NgayDat], [NgayYeuCau], [NgayGiao], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'DHB003', 3, CAST(N'2024-01-22T00:00:00.000' AS DateTime), CAST(N'2024-01-27T00:00:00.000' AS DateTime), NULL, N'Đã xác nhận', CAST(350000.0000 AS Decimal(18, 4)), N'Đơn hàng sách cho siêu thị', CAST(N'2025-09-04T07:56:49.957' AS DateTime), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DonHangBan] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaoDichTonKho] ON 

INSERT [dbo].[GiaoDichTonKho] ([MaGiaoDich], [NgayGiaoDich], [LoaiGiaoDich], [LoaiThamChieu], [MaThamChieu], [MaSanPham], [MaKho], [MaViTri], [SoLuong], [ChiPhiDonVi], [SoLo], [SoSerial], [NgayHetHan], [GhiChu], [NgayTao], [NguoiTao]) VALUES (1, CAST(N'2025-09-04T07:56:49.980' AS DateTime), N'Nhập kho', N'Phiếu nhập kho', 1, 1, 1, 1, CAST(1.0000 AS Decimal(18, 4)), CAST(25000000.0000 AS Decimal(18, 4)), N'LOT001', NULL, NULL, N'Tự động tạo từ phiếu nhập kho', CAST(N'2025-09-04T07:56:49.980' AS DateTime), 2)
INSERT [dbo].[GiaoDichTonKho] ([MaGiaoDich], [NgayGiaoDich], [LoaiGiaoDich], [LoaiThamChieu], [MaThamChieu], [MaSanPham], [MaKho], [MaViTri], [SoLuong], [ChiPhiDonVi], [SoLo], [SoSerial], [NgayHetHan], [GhiChu], [NgayTao], [NguoiTao]) VALUES (2, CAST(N'2025-09-04T07:56:49.980' AS DateTime), N'Nhập kho', N'Phiếu nhập kho', 2, 3, 1, 2, CAST(10.0000 AS Decimal(18, 4)), CAST(150000.0000 AS Decimal(18, 4)), N'LOT002', NULL, NULL, N'Tự động tạo từ phiếu nhập kho', CAST(N'2025-09-04T07:56:49.980' AS DateTime), 2)
INSERT [dbo].[GiaoDichTonKho] ([MaGiaoDich], [NgayGiaoDich], [LoaiGiaoDich], [LoaiThamChieu], [MaThamChieu], [MaSanPham], [MaKho], [MaViTri], [SoLuong], [ChiPhiDonVi], [SoLo], [SoSerial], [NgayHetHan], [GhiChu], [NgayTao], [NguoiTao]) VALUES (3, CAST(N'2025-09-04T07:56:49.980' AS DateTime), N'Nhập kho', N'Phiếu nhập kho', 2, 7, 1, 2, CAST(5.0000 AS Decimal(18, 4)), CAST(400000.0000 AS Decimal(18, 4)), N'LOT003', NULL, NULL, N'Tự động tạo từ phiếu nhập kho', CAST(N'2025-09-04T07:56:49.980' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[GiaoDichTonKho] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [MaKhachHangCode], [TenKhachHang], [NguoiLienHe], [SoDienThoai], [Email], [DiaChi], [MaSoThue], [HanMucTinDung], [DieuKienThanhToan], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'KH001', N'Công ty TNHH ABC', N'Nguyễn Văn X', N'0123456789', N'contact@abc.com', N'123 Đường ABC, Quận 1, TP.HCM', N'0123456789', CAST(100000000.00 AS Decimal(18, 2)), N'Thanh toán 30 ngày', 1, CAST(N'2025-09-04T07:56:49.947' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKhachHang], [MaKhachHangCode], [TenKhachHang], [NguoiLienHe], [SoDienThoai], [Email], [DiaChi], [MaSoThue], [HanMucTinDung], [DieuKienThanhToan], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'KH002', N'Cửa hàng Thời trang XYZ', N'Trần Thị Y', N'0987654321', N'info@xyz.com', N'456 Đường XYZ, Quận 3, TP.HCM', N'0987654321', CAST(50000000.00 AS Decimal(18, 2)), N'Thanh toán ngay', 1, CAST(N'2025-09-04T07:56:49.947' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKhachHang], [MaKhachHangCode], [TenKhachHang], [NguoiLienHe], [SoDienThoai], [Email], [DiaChi], [MaSoThue], [HanMucTinDung], [DieuKienThanhToan], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'KH003', N'Siêu thị Mini Mart', N'Lê Văn Z', N'0369852147', N'sales@minimart.com', N'789 Đường Mini, Quận 5, TP.HCM', N'0369852147', CAST(200000000.00 AS Decimal(18, 2)), N'Thanh toán 15 ngày', 1, CAST(N'2025-09-04T07:56:49.947' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoHang] ON 

INSERT [dbo].[KhoHang] ([MaKho], [MaKhoCode], [TenKho], [DiaChi], [MaQuanLy], [SoDienThoai], [Email], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'KH001', N'Kho chính TP.HCM', N'100 Đường Kho hàng, Khu Công nghiệp Tân Bình, TP.HCM', NULL, N'0123456789', N'khochinh@quanlykho.com', 1, CAST(N'2025-09-04T07:56:49.933' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[KhoHang] ([MaKho], [MaKhoCode], [TenKho], [DiaChi], [MaQuanLy], [SoDienThoai], [Email], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'KH002', N'Kho phụ TP.HCM', N'200 Đường Lưu trữ, Khu Thương mại Quận 1, TP.HCM', NULL, N'0987654321', N'khophu@quanlykho.com', 1, CAST(N'2025-09-04T07:56:49.933' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[KhoHang] ([MaKho], [MaKhoCode], [TenKho], [DiaChi], [MaQuanLy], [SoDienThoai], [Email], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'KH003', N'Kho Hà Nội', N'300 Đường Kho hàng, Khu Công nghiệp Long Biên, Hà Nội', NULL, N'0369852147', N'khohn@quanlykho.com', 1, CAST(N'2025-09-04T07:56:49.933' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhoHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuDangNhap] ON 

INSERT [dbo].[LichSuDangNhap] ([MaLichSu], [MaNguoiDung], [ThoiGianDangNhap], [ThoiGianDangXuat], [DiaChiIP], [ThietBi], [TrangThai], [LyDo], [SessionID]) VALUES (1, 1, CAST(N'2025-09-04T09:12:50.057' AS DateTime), CAST(N'2025-09-04T09:13:09.827' AS DateTime), N'192.168.207.2', N'Win32NT 6.2.9200.0', N'Thành công', NULL, N'438889de-8d57-4a2c-be76-7771bcd65234')
INSERT [dbo].[LichSuDangNhap] ([MaLichSu], [MaNguoiDung], [ThoiGianDangNhap], [ThoiGianDangXuat], [DiaChiIP], [ThietBi], [TrangThai], [LyDo], [SessionID]) VALUES (2, 1, CAST(N'2025-09-04T09:35:50.723' AS DateTime), CAST(N'2025-09-04T09:35:52.687' AS DateTime), N'192.168.207.2', N'Win32NT 6.2.9200.0', N'Thành công', NULL, N'542aff49-4dc6-4cd2-8746-a405d5f47c2f')
INSERT [dbo].[LichSuDangNhap] ([MaLichSu], [MaNguoiDung], [ThoiGianDangNhap], [ThoiGianDangXuat], [DiaChiIP], [ThietBi], [TrangThai], [LyDo], [SessionID]) VALUES (3, 1, CAST(N'2025-09-04T10:00:57.007' AS DateTime), CAST(N'2025-09-04T10:00:58.960' AS DateTime), N'192.168.207.2', N'Win32NT 6.2.9200.0', N'Thành công', NULL, N'5c0d2680-3b04-4149-8bbd-188d023d8292')
SET IDENTITY_INSERT [dbo].[LichSuDangNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungHeThong] ON 

INSERT [dbo].[NguoiDungHeThong] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [HoatDong], [NgayDangNhapCuoi], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'admin', N'admin123', N'Quản trị viên hệ thống', N'admin@quanlykho.com', NULL, 1, NULL, CAST(N'2025-09-04T07:56:49.917' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[NguoiDungHeThong] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [HoatDong], [NgayDangNhapCuoi], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'manager', N'manager123', N'Quản lý kho', N'manager@quanlykho.com', NULL, 1, NULL, CAST(N'2025-09-04T07:56:49.940' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[NguoiDungHeThong] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [HoatDong], [NgayDangNhapCuoi], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'operator', N'operator123', N'Nhân viên kho', N'operator@quanlykho.com', NULL, 1, NULL, CAST(N'2025-09-04T07:56:49.940' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDungHeThong] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [MaNhaCungCapCode], [TenNhaCungCap], [NguoiLienHe], [SoDienThoai], [Email], [DiaChi], [MaSoThue], [TaiKhoanNganHang], [TenNganHang], [DieuKienThanhToan], [HanMucTinDung], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'NCC001', N'Công ty Giải pháp Công nghệ', N'Nguyễn Văn A', N'0123456789', N'nguyenvana@tech.com', N'123 Đường Công nghệ, TP.HCM', NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2025-09-04T07:56:49.923' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [MaNhaCungCapCode], [TenNhaCungCap], [NguoiLienHe], [SoDienThoai], [Email], [DiaChi], [MaSoThue], [TaiKhoanNganHang], [TenNganHang], [DieuKienThanhToan], [HanMucTinDung], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'NCC002', N'Công ty Thời trang Thế giới', N'Trần Thị B', N'0987654321', N'tranthib@fashion.com', N'456 Đại lộ Thời trang, Hà Nội', NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2025-09-04T07:56:49.923' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [MaNhaCungCapCode], [TenNhaCungCap], [NguoiLienHe], [SoDienThoai], [Email], [DiaChi], [MaSoThue], [TaiKhoanNganHang], [TenNganHang], [DieuKienThanhToan], [HanMucTinDung], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'NCC003', N'Công ty Xuất bản Sách', N'Lê Văn C', N'0369852147', N'levanc@book.com', N'789 Đường Sách, Đà Nẵng', NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2025-09-04T07:56:49.923' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhienLamViec] ON 

INSERT [dbo].[PhienLamViec] ([MaPhien], [MaNguoiDung], [SessionID], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai], [DiaChiIP], [ThietBi], [UserAgent], [LastActivity]) VALUES (1, 1, N'438889de-8d57-4a2c-be76-7771bcd65234', CAST(N'2025-09-04T09:12:50.060' AS DateTime), CAST(N'2025-09-04T09:13:09.840' AS DateTime), N'Đã kết thúc', N'192.168.207.2', N'Win32NT 6.2.9200.0', N'QLKHO Desktop Application', CAST(N'2025-09-04T09:12:50.187' AS DateTime))
INSERT [dbo].[PhienLamViec] ([MaPhien], [MaNguoiDung], [SessionID], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai], [DiaChiIP], [ThietBi], [UserAgent], [LastActivity]) VALUES (2, 1, N'542aff49-4dc6-4cd2-8746-a405d5f47c2f', CAST(N'2025-09-04T09:35:50.727' AS DateTime), CAST(N'2025-09-04T09:35:52.700' AS DateTime), N'Đã kết thúc', N'192.168.207.2', N'Win32NT 6.2.9200.0', N'QLKHO Desktop Application', CAST(N'2025-09-04T09:35:50.837' AS DateTime))
INSERT [dbo].[PhienLamViec] ([MaPhien], [MaNguoiDung], [SessionID], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai], [DiaChiIP], [ThietBi], [UserAgent], [LastActivity]) VALUES (3, 1, N'5c0d2680-3b04-4149-8bbd-188d023d8292', CAST(N'2025-09-04T10:00:57.010' AS DateTime), CAST(N'2025-09-04T10:00:58.957' AS DateTime), N'Đã kết thúc', N'192.168.207.2', N'Win32NT 6.2.9200.0', N'QLKHO Desktop Application', CAST(N'2025-09-04T10:00:57.110' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhienLamViec] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapKho] ON 

INSERT [dbo].[PhieuNhapKho] ([MaPhieuNhap], [SoPhieuNhap], [MaDonDatHang], [MaNhaCungCap], [NgayNhap], [MaKho], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'PNK001', 1, 1, CAST(N'2024-01-25T00:00:00.000' AS DateTime), 1, N'Đã ghi sổ', CAST(25000000.0000 AS Decimal(18, 4)), N'Phiếu nhập laptop', CAST(N'2025-09-04T07:56:49.960' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[PhieuNhapKho] ([MaPhieuNhap], [SoPhieuNhap], [MaDonDatHang], [MaNhaCungCap], [NgayNhap], [MaKho], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'PNK002', 2, 2, CAST(N'2024-01-26T00:00:00.000' AS DateTime), 1, N'Đã ghi sổ', CAST(1500000.0000 AS Decimal(18, 4)), N'Phiếu nhập quần áo', CAST(N'2025-09-04T07:56:49.960' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[PhieuNhapKho] ([MaPhieuNhap], [SoPhieuNhap], [MaDonDatHang], [MaNhaCungCap], [NgayNhap], [MaKho], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'PNK003', 3, 3, CAST(N'2024-01-27T00:00:00.000' AS DateTime), 1, N'Đã ghi sổ', CAST(500000.0000 AS Decimal(18, 4)), N'Phiếu nhập sách', CAST(N'2025-09-04T07:56:49.960' AS DateTime), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PhieuNhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuXuatKho] ON 

INSERT [dbo].[PhieuXuatKho] ([MaPhieuXuat], [SoPhieuXuat], [MaDonHangBan], [MaKhachHang], [NgayXuat], [MaKho], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'PXK001', 1, 1, CAST(N'2024-01-25T00:00:00.000' AS DateTime), 1, N'Đã giao', CAST(30000000.0000 AS Decimal(18, 4)), N'Phiếu xuất laptop', CAST(N'2025-09-04T07:56:49.967' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[PhieuXuatKho] ([MaPhieuXuat], [SoPhieuXuat], [MaDonHangBan], [MaKhachHang], [NgayXuat], [MaKho], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'PXK002', 2, 2, CAST(N'2024-01-26T00:00:00.000' AS DateTime), 1, N'Đã giao', CAST(800000.0000 AS Decimal(18, 4)), N'Phiếu xuất quần áo', CAST(N'2025-09-04T07:56:49.967' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[PhieuXuatKho] ([MaPhieuXuat], [SoPhieuXuat], [MaDonHangBan], [MaKhachHang], [NgayXuat], [MaKho], [TrangThai], [TongTien], [GhiChu], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'PXK003', 3, 3, CAST(N'2024-01-27T00:00:00.000' AS DateTime), 1, N'Đã giao', CAST(350000.0000 AS Decimal(18, 4)), N'Phiếu xuất sách', CAST(N'2025-09-04T07:56:49.967' AS DateTime), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PhieuXuatKho] OFF
GO
SET IDENTITY_INSERT [dbo].[Quyen] ON 

INSERT [dbo].[Quyen] ([MaQuyen], [MaQuyenCode], [TenQuyen], [MoTa], [LoaiQuyen], [Module], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'SYS_ADMIN', N'Quản trị hệ thống', N'Toàn quyền trên hệ thống', N'ADMIN', N'HETHONG', 1, CAST(N'2025-09-04T07:56:49.940' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Quyen] ([MaQuyen], [MaQuyenCode], [TenQuyen], [MoTa], [LoaiQuyen], [Module], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'SYS_READ', N'Xem hệ thống', N'Chỉ xem thông tin hệ thống', N'READ', N'HETHONG', 1, CAST(N'2025-09-04T07:56:49.940' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Quyen] ([MaQuyen], [MaQuyenCode], [TenQuyen], [MoTa], [LoaiQuyen], [Module], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'KHO_ADMIN', N'Quản trị kho hàng', N'Toàn quyền quản lý kho hàng', N'ADMIN', N'KHO', 1, CAST(N'2025-09-04T07:56:49.940' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Quyen] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSanPham], [MaSanPhamCode], [TenSanPham], [MaDanhMuc], [MaNhaCungCap], [MoTa], [DonViTinh], [GiaVon], [GiaBan], [MucTonKhoToiThieu], [MucTonKhoToiDa], [DiemDatHangLai], [ThoiGianGiaoHang], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, N'SP001', N'Laptop Dell Inspiron', 1, 1, N'Laptop hiệu suất cao với thông số kỹ thuật mới nhất', N'Cái', CAST(20000000.0000 AS Decimal(18, 4)), CAST(30000000.0000 AS Decimal(18, 4)), 5, 50, 10, NULL, 1, CAST(N'2025-09-04T07:56:49.930' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[SanPham] ([MaSanPham], [MaSanPhamCode], [TenSanPham], [MaDanhMuc], [MaNhaCungCap], [MoTa], [DonViTinh], [GiaVon], [GiaBan], [MucTonKhoToiThieu], [MucTonKhoToiDa], [DiemDatHangLai], [ThoiGianGiaoHang], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, N'SP002', N'Điện thoại iPhone 15', 1, 1, N'Điện thoại thông minh mới nhất với tính năng tiên tiến', N'Cái', CAST(10000000.0000 AS Decimal(18, 4)), CAST(15000000.0000 AS Decimal(18, 4)), 10, 100, 20, NULL, 1, CAST(N'2025-09-04T07:56:49.930' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[SanPham] ([MaSanPham], [MaSanPhamCode], [TenSanPham], [MaDanhMuc], [MaNhaCungCap], [MoTa], [DonViTinh], [GiaVon], [GiaBan], [MucTonKhoToiThieu], [MucTonKhoToiDa], [DiemDatHangLai], [ThoiGianGiaoHang], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, N'SP003', N'Áo thun nam', 2, 2, N'Áo thun cotton nhiều màu sắc, chất liệu thoáng mát', N'Cái', CAST(150000.0000 AS Decimal(18, 4)), CAST(250000.0000 AS Decimal(18, 4)), 50, 500, 100, NULL, 1, CAST(N'2025-09-04T07:56:49.930' AS DateTime), 1, CAST(N'2025-09-04T15:15:14.570' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TonKho] ON 

INSERT [dbo].[TonKho] ([MaTonKho], [MaSanPham], [MaKho], [MaViTri], [SoLo], [SoSerial], [NgayHetHan], [SoLuongTon], [SoLuongDatTruoc], [NgayKiemKeCuoi], [NgaySuaCuoi], [NguoiSuaCuoi]) VALUES (1, 1, 1, 1, N'LOT001', N'SN001', CAST(N'2027-01-25' AS Date), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(N'2024-01-25T00:00:00.000' AS DateTime), CAST(N'2025-09-04T07:56:49.977' AS DateTime), 2)
INSERT [dbo].[TonKho] ([MaTonKho], [MaSanPham], [MaKho], [MaViTri], [SoLo], [SoSerial], [NgayHetHan], [SoLuongTon], [SoLuongDatTruoc], [NgayKiemKeCuoi], [NgaySuaCuoi], [NguoiSuaCuoi]) VALUES (2, 3, 1, 2, N'LOT002', NULL, CAST(N'2026-01-26' AS Date), CAST(7.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(N'2024-01-26T00:00:00.000' AS DateTime), CAST(N'2025-09-04T07:56:49.977' AS DateTime), 2)
INSERT [dbo].[TonKho] ([MaTonKho], [MaSanPham], [MaKho], [MaViTri], [SoLo], [SoSerial], [NgayHetHan], [SoLuongTon], [SoLuongDatTruoc], [NgayKiemKeCuoi], [NgaySuaCuoi], [NguoiSuaCuoi]) VALUES (3, 7, 1, 2, N'LOT003', NULL, CAST(N'2026-01-26' AS Date), CAST(4.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(N'2024-01-26T00:00:00.000' AS DateTime), CAST(N'2025-09-04T07:56:49.977' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[TonKho] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTroNguoiDung] ON 

INSERT [dbo].[VaiTroNguoiDung] ([MaVaiTro], [MaNguoiDung], [MaQuyen], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, 1, 1, 1, CAST(N'2025-09-04T07:56:49.943' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[VaiTroNguoiDung] ([MaVaiTro], [MaNguoiDung], [MaQuyen], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, 1, 3, 1, CAST(N'2025-09-04T07:56:49.943' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[VaiTroNguoiDung] ([MaVaiTro], [MaNguoiDung], [MaQuyen], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, 1, 7, 1, CAST(N'2025-09-04T07:56:49.943' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[VaiTroNguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[ViTriTrongKho] ON 

INSERT [dbo].[ViTriTrongKho] ([MaViTri], [MaKho], [MaViTriCode], [TenViTri], [LoaiViTri], [LoiDi], [Hang], [Tang], [ViTri], [DungLuong], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (1, 1, N'A1-H1-T1', N'Lối đi 1, Hàng 1, Tầng 1', N'Kệ', N'A1', N'H1', N'T1', N'V1', NULL, 1, CAST(N'2025-09-04T07:56:49.937' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[ViTriTrongKho] ([MaViTri], [MaKho], [MaViTriCode], [TenViTri], [LoaiViTri], [LoiDi], [Hang], [Tang], [ViTri], [DungLuong], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (2, 1, N'A1-H1-T2', N'Lối đi 1, Hàng 1, Tầng 2', N'Kệ', N'A1', N'H1', N'T2', N'V1', NULL, 1, CAST(N'2025-09-04T07:56:49.937' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[ViTriTrongKho] ([MaViTri], [MaKho], [MaViTriCode], [TenViTri], [LoaiViTri], [LoiDi], [Hang], [Tang], [ViTri], [DungLuong], [HoatDong], [NgayTao], [MaNguoiDungTao], [NgaySua], [MaNguoiDungSua]) VALUES (3, 1, N'A2-H1-T1', N'Lối đi 2, Hàng 1, Tầng 1', N'Giá', N'A2', N'H1', N'T1', N'V1', NULL, 1, CAST(N'2025-09-04T07:56:49.937' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ViTriTrongKho] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DanhMucSanPham_MaDanhMucCode]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[DanhMucSanPham] ADD  CONSTRAINT [UQ_DanhMucSanPham_MaDanhMucCode] UNIQUE NONCLUSTERED 
(
	[MaDanhMucCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DonDatHang_SoDonDatHang]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[DonDatHang] ADD  CONSTRAINT [UQ_DonDatHang_SoDonDatHang] UNIQUE NONCLUSTERED 
(
	[SoDonDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonDatHang_NhaCungCap_Ngay]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonDatHang_NhaCungCap_Ngay] ON [dbo].[DonDatHang]
(
	[MaNhaCungCap] ASC,
	[NgayDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonDatHang_TrangThai]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonDatHang_TrangThai] ON [dbo].[DonDatHang]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DonHangBan_SoDonHangBan]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[DonHangBan] ADD  CONSTRAINT [UQ_DonHangBan_SoDonHangBan] UNIQUE NONCLUSTERED 
(
	[SoDonHangBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHangBan_KhachHang_Ngay]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonHangBan_KhachHang_Ngay] ON [dbo].[DonHangBan]
(
	[MaKhachHang] ASC,
	[NgayDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonHangBan_TrangThai]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonHangBan_TrangThai] ON [dbo].[DonHangBan]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GiaoDichTonKho_Ngay_Loai]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_GiaoDichTonKho_Ngay_Loai] ON [dbo].[GiaoDichTonKho]
(
	[NgayGiaoDich] ASC,
	[LoaiGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GiaoDichTonKho_SanPham_Kho]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_GiaoDichTonKho_SanPham_Kho] ON [dbo].[GiaoDichTonKho]
(
	[MaSanPham] ASC,
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GiaoDichTonKho_ThamChieu]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_GiaoDichTonKho_ThamChieu] ON [dbo].[GiaoDichTonKho]
(
	[LoaiThamChieu] ASC,
	[MaThamChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_MaKhachHangCode]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ_KhachHang_MaKhachHangCode] UNIQUE NONCLUSTERED 
(
	[MaKhachHangCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhoHang_MaKhoCode]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[KhoHang] ADD  CONSTRAINT [UQ_KhoHang_MaKhoCode] UNIQUE NONCLUSTERED 
(
	[MaKhoCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuDangNhap_NguoiDung_ThoiGian]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuDangNhap_NguoiDung_ThoiGian] ON [dbo].[LichSuDangNhap]
(
	[MaNguoiDung] ASC,
	[ThoiGianDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LichSuHoatDong_Module_HanhDong]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuHoatDong_Module_HanhDong] ON [dbo].[LichSuHoatDong]
(
	[Module] ASC,
	[HanhDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuHoatDong_NguoiDung_ThoiGian]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuHoatDong_NguoiDung_ThoiGian] ON [dbo].[LichSuHoatDong]
(
	[MaNguoiDung] ASC,
	[ThoiGian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NguoiDungHeThong_TenDangNhap]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[NguoiDungHeThong] ADD  CONSTRAINT [UQ_NguoiDungHeThong_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NhaCungCap_MaCode]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[NhaCungCap] ADD  CONSTRAINT [UQ_NhaCungCap_MaCode] UNIQUE NONCLUSTERED 
(
	[MaNhaCungCapCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PhienLamViec_SessionID]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[PhienLamViec] ADD  CONSTRAINT [UQ_PhienLamViec_SessionID] UNIQUE NONCLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhienLamViec_SessionID_TrangThai]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhienLamViec_SessionID_TrangThai] ON [dbo].[PhienLamViec]
(
	[SessionID] ASC,
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PhieuNhapKho_SoPhieuNhap]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[PhieuNhapKho] ADD  CONSTRAINT [UQ_PhieuNhapKho_SoPhieuNhap] UNIQUE NONCLUSTERED 
(
	[SoPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PhieuXuatKho_SoPhieuXuat]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[PhieuXuatKho] ADD  CONSTRAINT [UQ_PhieuXuatKho_SoPhieuXuat] UNIQUE NONCLUSTERED 
(
	[SoPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Quyen_MaQuyenCode]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[Quyen] ADD  CONSTRAINT [UQ_Quyen_MaQuyenCode] UNIQUE NONCLUSTERED 
(
	[MaQuyenCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Quyen_Module_LoaiQuyen]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Quyen_Module_LoaiQuyen] ON [dbo].[Quyen]
(
	[Module] ASC,
	[LoaiQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SanPham_MaCode]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [UQ_SanPham_MaCode] UNIQUE NONCLUSTERED 
(
	[MaSanPhamCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_DanhMuc]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_DanhMuc] ON [dbo].[SanPham]
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_HoatDong]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_HoatDong] ON [dbo].[SanPham]
(
	[HoatDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_NhaCungCap]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_NhaCungCap] ON [dbo].[SanPham]
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TonKho_SanPham_Kho_Lo]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[TonKho] ADD  CONSTRAINT [UQ_TonKho_SanPham_Kho_Lo] UNIQUE NONCLUSTERED 
(
	[MaSanPham] ASC,
	[MaKho] ASC,
	[SoLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TonKho_NgayHetHan]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_TonKho_NgayHetHan] ON [dbo].[TonKho]
(
	[NgayHetHan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TonKho_SanPham_Kho]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_TonKho_SanPham_Kho] ON [dbo].[TonKho]
(
	[MaSanPham] ASC,
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TonKho_SoLo]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_TonKho_SoLo] ON [dbo].[TonKho]
(
	[SoLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VaiTroNguoiDung_NguoiDung_Quyen]    Script Date: 9/4/2025 4:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_VaiTroNguoiDung_NguoiDung_Quyen] ON [dbo].[VaiTroNguoiDung]
(
	[MaNguoiDung] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ViTriTrongKho_MaKho_MaViTriCode]    Script Date: 9/4/2025 4:40:06 PM ******/
ALTER TABLE [dbo].[ViTriTrongKho] ADD  CONSTRAINT [UQ_ViTriTrongKho_MaKho_MaViTriCode] UNIQUE NONCLUSTERED 
(
	[MaKho] ASC,
	[MaViTriCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDonDatHang] ADD  DEFAULT ((0)) FOR [SoLuongDaNhan]
GO
ALTER TABLE [dbo].[ChiTietDonHangBan] ADD  DEFAULT ((0)) FOR [SoLuongDaGiao]
GO
ALTER TABLE [dbo].[DanhMucSanPham] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[DanhMucSanPham] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT (N'Nháp') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonHangBan] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonHangBan] ADD  DEFAULT (N'Nháp') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonHangBan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[GiaoDichTonKho] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[GiaoDichTonKho] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoHang] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[KhoHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichSuDangNhap] ADD  DEFAULT (getdate()) FOR [ThoiGianDangNhap]
GO
ALTER TABLE [dbo].[LichSuDangNhap] ADD  DEFAULT (N'Thành công') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichSuHoatDong] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NguoiDungHeThong] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[NguoiDungHeThong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhienLamViec] ADD  DEFAULT (getdate()) FOR [ThoiGianBatDau]
GO
ALTER TABLE [dbo].[PhienLamViec] ADD  DEFAULT (N'Đang hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhienLamViec] ADD  DEFAULT (getdate()) FOR [LastActivity]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT (N'Nháp') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhieuXuatKho] ADD  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[PhieuXuatKho] ADD  DEFAULT (N'Nháp') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuXuatKho] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Quyen] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[Quyen] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT ((0)) FOR [SoLuongDatTruoc]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT (getdate()) FOR [NgaySuaCuoi]
GO
ALTER TABLE [dbo].[VaiTroNguoiDung] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[VaiTroNguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ViTriTrongKho] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[ViTriTrongKho] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDatHang_DonDatHang] FOREIGN KEY([MaDonDatHang])
REFERENCES [dbo].[DonDatHang] ([MaDonDatHang])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang] CHECK CONSTRAINT [FK_ChiTietDonDatHang_DonDatHang]
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDatHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang] CHECK CONSTRAINT [FK_ChiTietDonDatHang_SanPham]
GO
ALTER TABLE [dbo].[ChiTietDonHangBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangBan_DonHangBan] FOREIGN KEY([MaDonHangBan])
REFERENCES [dbo].[DonHangBan] ([MaDonHangBan])
GO
ALTER TABLE [dbo].[ChiTietDonHangBan] CHECK CONSTRAINT [FK_ChiTietDonHangBan_DonHangBan]
GO
ALTER TABLE [dbo].[ChiTietDonHangBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangBan_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonHangBan] CHECK CONSTRAINT [FK_ChiTietDonHangBan_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhapKho_PhieuNhapKho] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhapKho] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho] CHECK CONSTRAINT [FK_ChiTietPhieuNhapKho_PhieuNhapKho]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhapKho_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho] CHECK CONSTRAINT [FK_ChiTietPhieuNhapKho_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhapKho_ViTriTrongKho] FOREIGN KEY([MaViTri])
REFERENCES [dbo].[ViTriTrongKho] ([MaViTri])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho] CHECK CONSTRAINT [FK_ChiTietPhieuNhapKho_ViTriTrongKho]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuatKho_PhieuXuatKho] FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[PhieuXuatKho] ([MaPhieuXuat])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatKho] CHECK CONSTRAINT [FK_ChiTietPhieuXuatKho_PhieuXuatKho]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuatKho_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatKho] CHECK CONSTRAINT [FK_ChiTietPhieuXuatKho_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuatKho_ViTriTrongKho] FOREIGN KEY([MaViTri])
REFERENCES [dbo].[ViTriTrongKho] ([MaViTri])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatKho] CHECK CONSTRAINT [FK_ChiTietPhieuXuatKho_ViTriTrongKho]
GO
ALTER TABLE [dbo].[DanhMucSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucSanPham_DanhMucCha] FOREIGN KEY([MaDanhMucCha])
REFERENCES [dbo].[DanhMucSanPham] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[DanhMucSanPham] CHECK CONSTRAINT [FK_DanhMucSanPham_DanhMucCha]
GO
ALTER TABLE [dbo].[DanhMucSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucSanPham_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DanhMucSanPham] CHECK CONSTRAINT [FK_DanhMucSanPham_NguoiDungSua]
GO
ALTER TABLE [dbo].[DanhMucSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucSanPham_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DanhMucSanPham] CHECK CONSTRAINT [FK_DanhMucSanPham_NguoiDungTao]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NguoiDungSua]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NguoiDungTao]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NhaCungCap]
GO
ALTER TABLE [dbo].[DonHangBan]  WITH CHECK ADD  CONSTRAINT [FK_DonHangBan_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonHangBan] CHECK CONSTRAINT [FK_DonHangBan_KhachHang]
GO
ALTER TABLE [dbo].[DonHangBan]  WITH CHECK ADD  CONSTRAINT [FK_DonHangBan_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonHangBan] CHECK CONSTRAINT [FK_DonHangBan_NguoiDungSua]
GO
ALTER TABLE [dbo].[DonHangBan]  WITH CHECK ADD  CONSTRAINT [FK_DonHangBan_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonHangBan] CHECK CONSTRAINT [FK_DonHangBan_NguoiDungTao]
GO
ALTER TABLE [dbo].[GiaoDichTonKho]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDichTonKho_KhoHang] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KhoHang] ([MaKho])
GO
ALTER TABLE [dbo].[GiaoDichTonKho] CHECK CONSTRAINT [FK_GiaoDichTonKho_KhoHang]
GO
ALTER TABLE [dbo].[GiaoDichTonKho]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDichTonKho_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[GiaoDichTonKho] CHECK CONSTRAINT [FK_GiaoDichTonKho_NguoiTao]
GO
ALTER TABLE [dbo].[GiaoDichTonKho]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDichTonKho_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[GiaoDichTonKho] CHECK CONSTRAINT [FK_GiaoDichTonKho_SanPham]
GO
ALTER TABLE [dbo].[GiaoDichTonKho]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDichTonKho_ViTriTrongKho] FOREIGN KEY([MaViTri])
REFERENCES [dbo].[ViTriTrongKho] ([MaViTri])
GO
ALTER TABLE [dbo].[GiaoDichTonKho] CHECK CONSTRAINT [FK_GiaoDichTonKho_ViTriTrongKho]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_NguoiDungSua]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_NguoiDungTao]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [FK_KhoHang_NguoiDungSua]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [FK_KhoHang_NguoiDungTao]
GO
ALTER TABLE [dbo].[LichSuDangNhap]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDangNhap_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[LichSuDangNhap] CHECK CONSTRAINT [FK_LichSuDangNhap_NguoiDung]
GO
ALTER TABLE [dbo].[LichSuHoatDong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuHoatDong_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[LichSuHoatDong] CHECK CONSTRAINT [FK_LichSuHoatDong_NguoiDung]
GO
ALTER TABLE [dbo].[NguoiDungHeThong]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungHeThong_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NguoiDungHeThong] CHECK CONSTRAINT [FK_NguoiDungHeThong_NguoiDungSua]
GO
ALTER TABLE [dbo].[NguoiDungHeThong]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungHeThong_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NguoiDungHeThong] CHECK CONSTRAINT [FK_NguoiDungHeThong_NguoiDungTao]
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_NhaCungCap_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NhaCungCap] CHECK CONSTRAINT [FK_NhaCungCap_NguoiDungSua]
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_NhaCungCap_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NhaCungCap] CHECK CONSTRAINT [FK_NhaCungCap_NguoiDungTao]
GO
ALTER TABLE [dbo].[PhienLamViec]  WITH CHECK ADD  CONSTRAINT [FK_PhienLamViec_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhienLamViec] CHECK CONSTRAINT [FK_PhienLamViec_NguoiDung]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapKho_DonDatHang] FOREIGN KEY([MaDonDatHang])
REFERENCES [dbo].[DonDatHang] ([MaDonDatHang])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PhieuNhapKho_DonDatHang]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapKho_KhoHang] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KhoHang] ([MaKho])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PhieuNhapKho_KhoHang]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapKho_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PhieuNhapKho_NguoiDungSua]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapKho_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PhieuNhapKho_NguoiDungTao]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapKho_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [FK_PhieuNhapKho_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuatKho_DonHangBan] FOREIGN KEY([MaDonHangBan])
REFERENCES [dbo].[DonHangBan] ([MaDonHangBan])
GO
ALTER TABLE [dbo].[PhieuXuatKho] CHECK CONSTRAINT [FK_PhieuXuatKho_DonHangBan]
GO
ALTER TABLE [dbo].[PhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuatKho_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PhieuXuatKho] CHECK CONSTRAINT [FK_PhieuXuatKho_KhachHang]
GO
ALTER TABLE [dbo].[PhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuatKho_KhoHang] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KhoHang] ([MaKho])
GO
ALTER TABLE [dbo].[PhieuXuatKho] CHECK CONSTRAINT [FK_PhieuXuatKho_KhoHang]
GO
ALTER TABLE [dbo].[PhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuatKho_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhieuXuatKho] CHECK CONSTRAINT [FK_PhieuXuatKho_NguoiDungSua]
GO
ALTER TABLE [dbo].[PhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuatKho_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhieuXuatKho] CHECK CONSTRAINT [FK_PhieuXuatKho_NguoiDungTao]
GO
ALTER TABLE [dbo].[Quyen]  WITH CHECK ADD  CONSTRAINT [FK_Quyen_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[Quyen] CHECK CONSTRAINT [FK_Quyen_NguoiDungSua]
GO
ALTER TABLE [dbo].[Quyen]  WITH CHECK ADD  CONSTRAINT [FK_Quyen_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[Quyen] CHECK CONSTRAINT [FK_Quyen_NguoiDungTao]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucSanPham] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NguoiDungSua]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NguoiDungTao]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_KhoHang] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KhoHang] ([MaKho])
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_KhoHang]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_NguoiSuaCuoi] FOREIGN KEY([NguoiSuaCuoi])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_NguoiSuaCuoi]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_SanPham]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_ViTriTrongKho] FOREIGN KEY([MaViTri])
REFERENCES [dbo].[ViTriTrongKho] ([MaViTri])
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_ViTriTrongKho]
GO
ALTER TABLE [dbo].[VaiTroNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_VaiTroNguoiDung_NguoiDungHeThong] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[VaiTroNguoiDung] CHECK CONSTRAINT [FK_VaiTroNguoiDung_NguoiDungHeThong]
GO
ALTER TABLE [dbo].[VaiTroNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_VaiTroNguoiDung_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[VaiTroNguoiDung] CHECK CONSTRAINT [FK_VaiTroNguoiDung_NguoiDungSua]
GO
ALTER TABLE [dbo].[VaiTroNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_VaiTroNguoiDung_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[VaiTroNguoiDung] CHECK CONSTRAINT [FK_VaiTroNguoiDung_NguoiDungTao]
GO
ALTER TABLE [dbo].[VaiTroNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_VaiTroNguoiDung_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[VaiTroNguoiDung] CHECK CONSTRAINT [FK_VaiTroNguoiDung_Quyen]
GO
ALTER TABLE [dbo].[ViTriTrongKho]  WITH CHECK ADD  CONSTRAINT [FK_ViTriTrongKho_KhoHang] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KhoHang] ([MaKho])
GO
ALTER TABLE [dbo].[ViTriTrongKho] CHECK CONSTRAINT [FK_ViTriTrongKho_KhoHang]
GO
ALTER TABLE [dbo].[ViTriTrongKho]  WITH CHECK ADD  CONSTRAINT [FK_ViTriTrongKho_NguoiDungSua] FOREIGN KEY([MaNguoiDungSua])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[ViTriTrongKho] CHECK CONSTRAINT [FK_ViTriTrongKho_NguoiDungSua]
GO
ALTER TABLE [dbo].[ViTriTrongKho]  WITH CHECK ADD  CONSTRAINT [FK_ViTriTrongKho_NguoiDungTao] FOREIGN KEY([MaNguoiDungTao])
REFERENCES [dbo].[NguoiDungHeThong] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[ViTriTrongKho] CHECK CONSTRAINT [FK_ViTriTrongKho_NguoiDungTao]
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD CHECK  (([SoLuongDaNhan]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHangBan]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHangBan]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHangBan]  WITH CHECK ADD CHECK  (([SoLuongDaGiao]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatKho]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuXuatKho]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã nhận' OR [TrangThai]=N'Đã duyệt' OR [TrangThai]=N'Đã gửi' OR [TrangThai]=N'Nháp'))
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [CK_DonDatHang_NgayGiaoDuKien] CHECK  (([NgayGiaoDuKien] IS NULL OR [NgayGiaoDuKien]>=[NgayDat]))
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [CK_DonDatHang_NgayGiaoDuKien]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [CK_DonDatHang_NgayGiaoThucTe] CHECK  (([NgayGiaoThucTe] IS NULL OR [NgayGiaoThucTe]>=[NgayDat]))
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [CK_DonDatHang_NgayGiaoThucTe]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [CK_DonDatHang_TongTien] CHECK  (([TongTien] IS NULL OR [TongTien]>=(0)))
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [CK_DonDatHang_TongTien]
GO
ALTER TABLE [dbo].[DonHangBan]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã giao hàng' OR [TrangThai]=N'Đã giao' OR [TrangThai]=N'Đã xác nhận' OR [TrangThai]=N'Nháp'))
GO
ALTER TABLE [dbo].[DonHangBan]  WITH CHECK ADD  CONSTRAINT [CK_DonHangBan_NgayGiao] CHECK  (([NgayGiao] IS NULL OR [NgayGiao]>=[NgayDat]))
GO
ALTER TABLE [dbo].[DonHangBan] CHECK CONSTRAINT [CK_DonHangBan_NgayGiao]
GO
ALTER TABLE [dbo].[DonHangBan]  WITH CHECK ADD  CONSTRAINT [CK_DonHangBan_NgayYeuCau] CHECK  (([NgayYeuCau] IS NULL OR [NgayYeuCau]>=[NgayDat]))
GO
ALTER TABLE [dbo].[DonHangBan] CHECK CONSTRAINT [CK_DonHangBan_NgayYeuCau]
GO
ALTER TABLE [dbo].[DonHangBan]  WITH CHECK ADD  CONSTRAINT [CK_DonHangBan_TongTien] CHECK  (([TongTien] IS NULL OR [TongTien]>=(0)))
GO
ALTER TABLE [dbo].[DonHangBan] CHECK CONSTRAINT [CK_DonHangBan_TongTien]
GO
ALTER TABLE [dbo].[GiaoDichTonKho]  WITH CHECK ADD CHECK  (([LoaiGiaoDich]=N'Kiểm kê' OR [LoaiGiaoDich]=N'Chuyển kho' OR [LoaiGiaoDich]=N'Điều chỉnh' OR [LoaiGiaoDich]=N'Xuất kho' OR [LoaiGiaoDich]=N'Nhập kho'))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([HanMucTinDung]>=(0)))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_Email] CHECK  (([Email] IS NULL OR [Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_KhachHang_Email]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_SoDienThoai] CHECK  (([SoDienThoai] IS NULL OR [SoDienThoai] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_KhachHang_SoDienThoai]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [CK_KhoHang_SoDienThoai] CHECK  (([SoDienThoai] IS NULL OR [SoDienThoai] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [CK_KhoHang_SoDienThoai]
GO
ALTER TABLE [dbo].[NguoiDungHeThong]  WITH CHECK ADD  CONSTRAINT [CK_NguoiDungHeThong_Email] CHECK  (([Email] IS NULL OR [Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[NguoiDungHeThong] CHECK CONSTRAINT [CK_NguoiDungHeThong_Email]
GO
ALTER TABLE [dbo].[NguoiDungHeThong]  WITH CHECK ADD  CONSTRAINT [CK_NguoiDungHeThong_SoDienThoai] CHECK  (([SoDienThoai] IS NULL OR [SoDienThoai] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[NguoiDungHeThong] CHECK CONSTRAINT [CK_NguoiDungHeThong_SoDienThoai]
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD CHECK  (([HanMucTinDung]>=(0)))
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD  CONSTRAINT [CK_NhaCungCap_Email] CHECK  (([Email] IS NULL OR [Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[NhaCungCap] CHECK CONSTRAINT [CK_NhaCungCap_Email]
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD  CONSTRAINT [CK_NhaCungCap_SoDienThoai] CHECK  (([SoDienThoai] IS NULL OR [SoDienThoai] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[NhaCungCap] CHECK CONSTRAINT [CK_NhaCungCap_SoDienThoai]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã ghi sổ' OR [TrangThai]=N'Đã nhận' OR [TrangThai]=N'Nháp'))
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD  CONSTRAINT [CK_PhieuNhapKho_TongTien] CHECK  (([TongTien] IS NULL OR [TongTien]>=(0)))
GO
ALTER TABLE [dbo].[PhieuNhapKho] CHECK CONSTRAINT [CK_PhieuNhapKho_TongTien]
GO
ALTER TABLE [dbo].[PhieuXuatKho]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã giao hàng' OR [TrangThai]=N'Đã giao' OR [TrangThai]=N'Đã lấy hàng' OR [TrangThai]=N'Nháp'))
GO
ALTER TABLE [dbo].[PhieuXuatKho]  WITH CHECK ADD  CONSTRAINT [CK_PhieuXuatKho_TongTien] CHECK  (([TongTien] IS NULL OR [TongTien]>=(0)))
GO
ALTER TABLE [dbo].[PhieuXuatKho] CHECK CONSTRAINT [CK_PhieuXuatKho_TongTien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([DiemDatHangLai]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaVon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([MucTonKhoToiThieu]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([MucTonKhoToiDa]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([ThoiGianGiaoHang]>=(0)))
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD CHECK  (([SoLuongDatTruoc]>=(0)))
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[ViTriTrongKho]  WITH CHECK ADD CHECK  (([DungLuong]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatHoatDongCuoi]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CapNhatHoatDongCuoi]
    @SessionID NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[PhienLamViec]
    SET [LastActivity] = GETDATE()
    WHERE [SessionID] = @SessionID AND [TrangThai] = N'Đang hoạt động';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatSoLuongTonKho]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CapNhatSoLuongTonKho]
    @MaSanPham INT,
    @MaKho INT,
    @MaViTri INT = NULL,
    @ThayDoiSoLuong DECIMAL(18,4),
    @LoaiGiaoDich NVARCHAR(20),
    @LoaiThamChieu NVARCHAR(20) = NULL,
    @MaThamChieu INT = NULL,
    @SoLo NVARCHAR(50) = NULL,
    @SoSerial NVARCHAR(100) = NULL,
    @NgayHetHan DATE = NULL,
    @ChiPhiDonVi DECIMAL(18,4) = NULL,
    @GhiChu NVARCHAR(500) = NULL,
    @MaNguoiDung INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Cập nhật tồn kho
        UPDATE [dbo].[TonKho]
        SET 
            [SoLuongTon] = [SoLuongTon] + @ThayDoiSoLuong,
            [NgaySuaCuoi] = GETDATE(),
            [NguoiSuaCuoi] = @MaNguoiDung
        WHERE [MaSanPham] = @MaSanPham 
            AND [MaKho] = @MaKho
            AND (@MaViTri IS NULL OR [MaViTri] = @MaViTri)
            AND (@SoLo IS NULL OR [SoLo] = @SoLo);
        
        -- Thêm bản ghi giao dịch tồn kho
        INSERT INTO [dbo].[GiaoDichTonKho] (
            [NgayGiaoDich], [LoaiGiaoDich], [LoaiThamChieu], [MaThamChieu],
            [MaSanPham], [MaKho], [MaViTri], [SoLuong], [ChiPhiDonVi],
            [SoLo], [SoSerial], [NgayHetHan], [GhiChu], [NguoiTao]
        )
        VALUES (
            GETDATE(), @LoaiGiaoDich, @LoaiThamChieu, @MaThamChieu,
            @MaSanPham, @MaKho, @MaViTri, @ThayDoiSoLuong, @ChiPhiDonVi,
            @SoLo, @SoSerial, @NgayHetHan, @GhiChu, @MaNguoiDung
        );
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DangXuat]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DangXuat]
    @SessionID NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @MaNguoiDung INT, @MaPhien INT;
        
        -- Lấy thông tin phiên làm việc
        SELECT @MaNguoiDung = [MaNguoiDung], @MaPhien = [MaPhien]
        FROM [dbo].[PhienLamViec]
        WHERE [SessionID] = @SessionID AND [TrangThai] = N'Đang hoạt động';
        
        IF @MaNguoiDung IS NOT NULL
        BEGIN
            -- Cập nhật thời gian kết thúc phiên
            UPDATE [dbo].[PhienLamViec]
            SET [ThoiGianKetThuc] = GETDATE(), [TrangThai] = N'Đã kết thúc'
            WHERE [MaPhien] = @MaPhien;
            
            -- Cập nhật thời gian đăng xuất trong lịch sử
            UPDATE [dbo].[LichSuDangNhap]
            SET [ThoiGianDangXuat] = GETDATE()
            WHERE [SessionID] = @SessionID AND [ThoiGianDangXuat] IS NULL;
        END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraQuyen]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraQuyen]
    @MaNguoiDung INT,
    @Module NVARCHAR(100),
    @LoaiQuyen NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CoQuyen BIT = [dbo].[fn_KiemTraQuyen](@MaNguoiDung, @Module, @LoaiQuyen);
    
    SELECT @CoQuyen AS CoQuyen;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LayTonKhoSanPhamTheoKho]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LayTonKhoSanPhamTheoKho]
    @MaSanPham INT = NULL,
    @MaKho INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        p.MaSanPhamCode,
        p.TenSanPham,
        c.TenDanhMuc,
        w.TenKho,
        l.MaViTriCode,
        i.SoLo,
        i.SoSerial,
        i.NgayHetHan,
        i.SoLuongTon,
        i.SoLuongDatTruoc,
        i.SoLuongKhaDung,
        i.NgayKiemKeCuoi
    FROM [dbo].[TonKho] i
    INNER JOIN [dbo].[SanPham] p ON i.MaSanPham = p.MaSanPham
    INNER JOIN [dbo].[DanhMucSanPham] c ON p.MaDanhMuc = c.MaDanhMuc
    INNER JOIN [dbo].[KhoHang] w ON i.MaKho = w.MaKho
    LEFT JOIN [dbo].[ViTriTrongKho] l ON i.MaViTri = l.MaViTri
    WHERE (@MaSanPham IS NULL OR i.MaSanPham = @MaSanPham)
        AND (@MaKho IS NULL OR i.MaKho = @MaKho)
        AND i.SoLuongTon > 0
    ORDER BY p.MaSanPhamCode, w.TenKho, l.MaViTriCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XacThucDangNhap]    Script Date: 9/4/2025 4:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XacThucDangNhap]
    @TenDangNhap NVARCHAR(50),
    @MatKhau NVARCHAR(255),
    @DiaChiIP NVARCHAR(45) = NULL,
    @ThietBi NVARCHAR(200) = NULL,
    @UserAgent NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @MaNguoiDung INT, @HoTen NVARCHAR(100), @HoatDong BIT;
        DECLARE @SessionID NVARCHAR(100) = NEWID();
        
        -- Kiểm tra thông tin đăng nhập
        SELECT @MaNguoiDung = [MaNguoiDung], @HoTen = [HoTen], @HoatDong = [HoatDong]
        FROM [dbo].[NguoiDungHeThong]
        WHERE [TenDangNhap] = @TenDangNhap AND [MatKhau] = @MatKhau;
        
        IF @MaNguoiDung IS NULL
        BEGIN
            -- Ghi log đăng nhập thất bại
            INSERT INTO [dbo].[LichSuDangNhap] ([MaNguoiDung], [ThoiGianDangNhap], [DiaChiIP], [ThietBi], [TrangThai], [LyDo])
            VALUES (0, GETDATE(), @DiaChiIP, @ThietBi, N'Thất bại', N'Sai tên đăng nhập hoặc mật khẩu');
            
            RAISERROR (N'Đăng nhập thất bại: Sai tên đăng nhập hoặc mật khẩu', 16, 1);
            RETURN;
        END
        
        IF @HoatDong = 0
        BEGIN
            -- Ghi log tài khoản bị khóa
            INSERT INTO [dbo].[LichSuDangNhap] ([MaNguoiDung], [ThoiGianDangNhap], [DiaChiIP], [ThietBi], [TrangThai], [LyDo])
            VALUES (@MaNguoiDung, GETDATE(), @DiaChiIP, @ThietBi, N'Thất bại', N'Tài khoản bị khóa');
            
            RAISERROR (N'Đăng nhập thất bại: Tài khoản bị khóa', 16, 1);
            RETURN;
        END
        
        -- Cập nhật thông tin đăng nhập cuối
        UPDATE [dbo].[NguoiDungHeThong]
        SET [NgayDangNhapCuoi] = GETDATE()
        WHERE [MaNguoiDung] = @MaNguoiDung;
        
        -- Ghi log đăng nhập thành công
        INSERT INTO [dbo].[LichSuDangNhap] ([MaNguoiDung], [ThoiGianDangNhap], [DiaChiIP], [ThietBi], [TrangThai], [SessionID])
        VALUES (@MaNguoiDung, GETDATE(), @DiaChiIP, @ThietBi, N'Thành công', @SessionID);
        
        -- Tạo phiên làm việc mới
        INSERT INTO [dbo].[PhienLamViec] ([MaNguoiDung], [SessionID], [DiaChiIP], [ThietBi], [UserAgent])
        VALUES (@MaNguoiDung, @SessionID, @DiaChiIP, @ThietBi, @UserAgent);
        
        -- Trả về thông tin người dùng và quyền
        SELECT 
            @MaNguoiDung AS MaNguoiDung,
            @HoTen AS HoTen,
            @SessionID AS SessionID;
            
        -- Trả về danh sách quyền
        SELECT * FROM [dbo].[fn_LayDanhSachQuyen](@MaNguoiDung);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
